{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/null.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/show.css' %}" />



<div class="base-page">
    <header class="base-header">
        <img src="{% static 'img/logo_dorinvest.png' %}" alt="logo" width="271px">
        <nav>
            <ul class="navigation">
                <li><a href="">Ближайшая выставка</a></li>
                <li><a href="">Прошедшие выставки</a></li>
                <li><a href="">Каталог животных</a></li>
                <li><a href="">Прошедшие выставки</a></li>
            </ul>
        </nav>
    </header>

 {% block content %}

 {% endblock %}


<footer class="base-footer">
        <div class="footer-content-wrapper">
            <div class="footer-left">
                <div class="footer-left-info">
                    <p>Организатор выставки: ГБУ “ДОРИНВЕСТ”<br>г. Москва, 2-я Тверская-Ямская улица, д.2</p>
                    <p>8(499)250-06-30</p>
                </div>
                <div class="footer-socials">
                    <h3>Мы в социальных сетях</h3>
                    <ul>
                        <li><a href="">Муниципальный приют “Зеленоград”</a></li>
                        <li><a href="">Приют “Зоорассвет”</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-right">
                <h3>Партнеры выставки</h3>
                <ul class="footer-sponsors">
                    <li><a href=""><img src="{% static 'img/sponsor1.png' %}" alt="sponsor1"></a></li>
                    <li><a href=""><img src="{% static 'img/sponsor2.png' %}" alt="sponsor2"></a></li>
                    <li><a href=""><img src="{% static 'img/sponsor3.png' %}" alt="sponsor3"></a></li>
                </ul>
                <img src="{% static 'img/location_logo.png' %}" alt="location logo">
            </div>
        </div>
    </footer>


</div>