.ended-page {
    margin: 0 7.3%;
}

.ended-page__shows-wrapper {
    margin: 51px 0 51px 0;
}
.ended-page__shows-wrapper > div {
    margin-bottom: 32px;
}
.ended-page__show {
    position: relative;
    display: flex;
    border-radius: 17px;
    background-color: #F0FFF7;
    border: 1px solid rgba(0, 0, 0, 0);
}
.ended-page__show:hover {
    background-color: #D8FFEA;
    border: 1px solid #76FFB8;
}
.ended-page__show.active {
    background-color: #D8FFEA;
    border: 1px solid #76FFB8;
}
.ended-page__show > img {
    width: 413px;
    height: 222px;
    object-fit: cover;
    border-radius: 17px 0 0 17px;
}


.ended-page__show__info {
    width: 64%;
    padding-left: 1.7%;
    padding-top: 17px;
    font-size: 24px;
    line-height: 150%;
    margin-top: 5px;
    margin-left: 28px;
}
.ended-page__show__info > h2 {
    font-size: 40px;
}
.ended-page__show__info__date {
    margin-top: 19px;
}
.ended-page__show__info__count {
    margin-top: -3px;
}
.ended-page__show__info__housing {
    margin-top: -3px;
}

.ended-page__rotate-button {
    position: absolute;
    right: 6%;
    top: 70px;
    transition: transform 15s ease-out;
}
.ended-page__rotate-button img.rotated {
    transform: rotate(90deg);
}


.ended-page__show__description {
    overflow: hidden;
    transition: height 1s, padding 0.5s ease-out;
    height: 0;
    position: relative;
    z-index: -1;
    top: -19px;
    padding: 0 2.7%;
    background-color: #F8F8F8;
    border-radius: 0 0 17px 17px;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 18px;

}
.ended-page__show__description.active {
    padding: 48px 2.7% 5px 2.7%;
}


.ended-page__show__description__text {
    column-count: 2;
    column-gap: 40px;
}
.ended-page__show__description__text p {
    margin-bottom: 27px;
    text-align: justify;
}

.ended-page__show__photoreport > h3 {
    margin-top: 34px;
}
.ended-page__show__photoreport__photos {
    margin-top: 18px;
}
.ended-page__show__photoreport__photos > img {
    height: 252px;
    border-radius: 17px;
    margin-bottom: 18px;
}